/*========= body背景色の変化CSS ===============*/

 body{
  animation: bgchange 20s ease infinite;/*変化の時間を変更したい場合は20sの部分を好きな時間に変更*/
}

@keyframes bgchange{
      0%   {background:#326051;}/*変化させたい色*/
      50%  {background:#DBD3D8;}/*変化させたい色*/
      75% {background:#99A9AF;}/*変化させたい色*/
      100%   {background:#326051;}/*変化させたい色*/
 }





Resources